DATABASE_URL="postgresql://uxmail:uxmailpassword@localhost:5432/uxmail_db?schema=public"
UXMAIL_START_POSTGRES="1"
UXMAIL_SETUP_DB="0"
ENCRYPTION_KEY="replace-with-a-long-random-string-at-least-32-chars"
ENCRYPTION_KEY_FILE=".uxmail.key"
BASIC_AUTH_USER="uxmail"
BASIC_AUTH_PASSWORD="replace-with-a-strong-password"
POSTGRES_USER="uxmail"
POSTGRES_PASSWORD="uxmailpassword"
POSTGRES_DB="uxmail_db"
NC_BASE_URL="http://localhost:8080"
NC_PUBLIC_URL="http://localhost:8080"
NC_OAUTH_DATA_PATH="/nextcloud/data/oauth2-client.txt"
UXMAIL_PUBLIC_URL="http://localhost:3000"
SYNC_WORKER_INTERVAL_MS="300000"
SYNC_FETCH_LIMIT=""
NC_PORT="8084"
NC_PASSWORD="NCDemo-Start123!"
NC_ROOT_PASSWORD="rootchangeme"
NC_ADMIN_USER="admin"
NC_TRUSTED_DOMAINS="localhost"
