PORT="4010"
NCAUTH_PUBLIC_URL="http://localhost:4010"

NC_BASE_URL="http://localhost:8084"
NC_PUBLIC_URL="http://localhost:8084"
NC_OAUTH_CLIENT_ID=""
NC_OAUTH_CLIENT_SECRET=""

UXMAIL_CALLBACK_URL="http://localhost:3000/api/nextcloud/external/callback"
ALLOWED_RETURN_ORIGINS="http://localhost:3000,http://192.168.68.55:3000"

SHARED_SIGNING_SECRET="replace-with-a-long-random-secret"
STATE_COOKIE_NAME="ncauth_state"
STATE_TTL_SECONDS="600"

